
html {
    overflow-x: hidden;
}

body{
    font-size: calc(10px + 0.5vw);
    overflow:hidden;
    background: #3e3e42;
    color: #dddddd;
    font-family: 'Oswald', 'Noto Sans JP', sans-serif;
    width: 100%;
}

.line{
    background-color: rgb(157,190,255);
    box-shadow: 0 0 13px 3px #A6CBBE;
    height:0;
    position: absolute;
    width: 1rem;
    display: flex;
    padding: 0;
    overflow: visible;
}

.content {
    display: block;
    opacity: 0;
    background: #2d2d30;
    padding-top: 2rem;
    padding-bottom: 5%;
}

.show {
    opacity: 1;
    transition-delay: 1s;
    transition: 1s;
}

.polaroid {
    text-align: right;
    width: 50%;
    height: 28%; /* aspect ratio 16/9, hardcoded*/
    border-radius: min(2vw, 1rem);
    border: min(2vw, 1rem) solid #eeeeee;
    border-bottom-width: min(4vw, 3rem);
    border-bottom-style: solid;
}

.polaroid-container {
    text-align: right;
    padding: min(5vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.polariod-text {
    font-size: max(5vw, 2rem);
    text-align: center;
}

.timeline-photo {
    aspect-ratio: 16/9;
    width: 100%;
}

.timeline-text {
    text-align: center;
    font-size: min(2vw, 1rem);
}

.footer {
    text-align: center;
    width: 100%;
}

/* Regular is the original position of the timeline block on computer screen */
.regular {
    opacity: 1;
}
/* For phone screens, a 2nd timeline block is made visible thats on the left side */
.phone {
    opacity: 0;
}

/* make the phone h2 align to the right */
.phone h2 {
    text-align: right !important;
}

@media (max-width: 500px) {
    /* For the elements already on the left, but need to resize them for the phone */
    .phone-regular {
        width: 60% !important;
    }
    .regular {
        opacity: 0;
        width: 35% !important;
    }
    .phone {
        opacity: 1;
        width: 60% !important;
    }
    .line {
        left: 70%;
    }
    .dot {
        left: 68.2%;
    }
    .polariod-text {
        font-size: min(5vw, 1rem);
    }
}