.notes-gallery-item{
    background-color: black;
    border:1px solid black;
    position: relative;
    width:100%;
    aspect-ratio: 5/3;
    border-radius: 0.5em;
   
}

.notes-gallery{
    /* transform: translateY(300px); */
    /* background:blue; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 18em;
    /* width:90%; */
    row-gap: 2em;
    column-gap:2em;
    
    overflow:hidden;
    height:40em;
}

.notes-gallery >*{
    height:fit-content;
    max-height: 18em;
    min-height: 18em;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items: flex-start !important;
    transition-property: max-height, transform;
    border-radius: 1em;
}
.notes-gallery-container{
    position:relative;
    margin:auto;
}
.notes-gallery>* p.text-center{
    /* Is this hard coding? Yes. Do i give a shit? No. */
    font-size: 1em;
    max-height: 11.2em;
    min-height: 11.2em;
    line-height: 1.4em;
    text-align: justify !important;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Adjust the number of lines to be displayed */
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; /* algin text centrally */
    transition: max-height 1s;
}




.text-primary{
    color:#62a2ff!important;
}


.extra-note{
    display:none;
    position: absolute;
    animation: popUp 1s forwards;
    height:fit-content;
    max-height: 18em;
    min-height: 18em;
    padding:1em;
    justify-content: center;
    align-items: flex-start !important;
    border-radius: 1em;
    width:calc((100% - 4em)/3);
    
}

.extra-note>* p.text-center{
    font-size: 1em;
    max-height: 11.2em;
    min-height: 11.2em;
    line-height: 1.4em;
    overflow: hidden;
    animation: descExtend 1s forwards;
    text-align: left !important;
}

@keyframes descExtend {
    to{
        max-height: 40em;
    }
    
}

@keyframes popUp {
    to{
        background:rgb(34, 34, 34);
        max-height: 50em;
    }
}

.paused{
    transition: none;
}

@media (max-width: 500px) {
    .notes-gallery{
        /* transform: translateY(300px); */
        /* background:blue; */
        display:grid;
        grid-template-columns: 1fr 1fr;
        height:58em;
    }
    .notes-gallery>*:hover p.text-center{
        /* Is this hard coding? Yes. Do i give a shit? No. */
        max-height: 50em;
    }

    .extra-note{
        width:calc((100% - 2em)/2)
    }
    
}