.notes-gallery-item{
    background-color: black;
    border:1px solid black;
    position: relative;
    --n:0;
    /* Finds the distance between the center and the object */
    --pos: calc(var(--scroll) * 1px + 40vw * var(--n) - 30vw);
    --opacity: calc(var(--scroll) + 40 * var(--vw) * var(--n) - 30 * var(--vw));  
    /* transform: perspective(500px) translateZ(calc(- var(--pos) * var(--pos))); */
    transform: perspective(1200px) translateZ(calc(min(var(--pos), -1*var(--pos)))) translateX(calc(-0.5 * var(--pos)));
    opacity: calc(1 - max(var(--opacity), -1*var(--opacity)) / 200);
    z-index: calc(500 - max(var(--opacity), -1*var(--opacity)));
    width:100%;
    aspect-ratio: 5/3;
    border-radius: 0.5em;
   
}

.notes-gallery{
    /* transform: translateY(300px); */
    /* background:blue; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:90%;
    row-gap: 1em;
    column-gap:1em;
    margin:auto;
    overflow:hidden;
    height:80vh;
}